<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project Introduction</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-50 font-sans leading-relaxed flex flex-col min-h-screen">

	<header class="bg-blue-600 text-white py-4">
		<div class="container mx-auto flex justify-between items-center">
			<h1 class="text-2xl font-bold">ClimateNet</h1>
			<nav>
				<ul class="flex space-x-4">
					<li><a href="home" class="hover:text-gray-300">Home</a></li>
					<li><a href="about" class="hover:text-gray-300">About</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main class="container mx-auto py-16 px-4 flex-2">
		<section class="flex flex-col md:flex-row items-center justify-between space-y-10 md:space-y-0">

			<div class="flex-1 text-center md:text-left">
				<h2 class="text-3xl font-bold text-blue-600 mb-6">Welcome to ClimateNet!</h2>
				<p class="text-xl text-gray-700 mb-4">We are working on an development of wheatear detection devices</p>
				<p class="text-lg text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
					unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>

			<div class="flex-1">
				<img src="https://images-in-website.s3.us-east-1.amazonaws.com/Banner/tumo_koghb.webp"
					alt="Project Image" class="w-full h-auto rounded-lg shadow-lg">
			</div>
		</section>
	</main>

	<main class="container mx-auto py-16 px-4 flex-1">
		<section class="flex flex-col md:flex-row items-center justify-between space-y-10 md:space-y-0">

			<div class="flex-1 text-center md:text-left">
				<h2 class="text-3xl font-bold text-blue-600 mb-6">Welcome to ClimateNet!</h2>
				<p class="text-xl text-gray-700 mb-4">We are working on an development of wheatear detection devices</p>
				<p class="text-lg text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
					unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>

			<div class="flex-1">
				<img src="https://images-in-website.s3.us-east-1.amazonaws.com/Banner/tumo_koghb.webp"
					alt="Project Image" class="w-full h-auto rounded-lg shadow-lg">
			</div>
		</section>
	</main>

	<footer class="bg-gray-800 text-white py-6 mt-aouto">
		<div class="container mx-auto text-center">
			<p class="text-sm">© 2025 ClimateNet. All rights reserved.</p>
		</div>
	</footer>

</body>

</html>
